# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AITurretGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Oliver.Lebert\Perforce\Oliver_Lebert_FG20GPFT_School\FG20FT_AI_Team23\AITurretGame\.idea\.idea.AITurretGame.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
